.xst{
    background-color: #e6e7e8;
} 
  

body {
	background: #3c8dbc;	
}



.form-signin {
  width: 420px;
  padding: 1px 35px 45px;
  margin: 0 auto;
  background-color: #f1f4f7;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
.msgbox{
    margin-top: 10px;
    width:340px;
    height: 5px;
    font-weight: 500;
}
#login-submit
{
    margin-top: 4px;
}

.myload{
   
  
    margin-top: 20%;
}